In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
# Dispaly max column
pd.pandas.set_option('display.max_columns',None)
# Display max rows
#pd.pandas.set_option('display.max_rows', None)

In [2]:
## loading dataset using pandas library
telcom = pd.read_csv("telcom_clean.csv")

## print the top5 records
telcom.head(5)

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Handset Manufacturer,Handset Type,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311450e+19,2019-04-04 12:01:00,770.0,2019-04-25 14:35:00,662.0,1823652.0,2.082010e+14,3.366496e+10,3.552120e+13,9.16457E+15,42.000000,5.000000,23.0,44.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,37624.0,38787.0,1.823653e+09,Samsung,Samsung Galaxy A5 Sm-A520F,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,213.0,214.0,1545765.0,24420.0,1634479.0,1271433.0,3563542.0,137762.0,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311450e+19,2019-04-09 13:04:00,235.0,2019-04-25 08:15:00,606.0,1365104.0,2.082020e+14,3.368185e+10,3.579400e+13,L77566A,65.000000,5.000000,16.0,26.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,168.0,3560.0,1.365104e+09,Samsung,Samsung Galaxy J5 (Sm-J530),989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,971.0,1022.0,1926113.0,7165.0,3493924.0,920172.0,629046.0,308339.0,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311450e+19,2019-04-09 17:42:00,1.0,2019-04-25 11:58:00,652.0,1361762.0,2.082000e+14,3.376063e+10,3.528150e+13,D42335A,109.795706,17.662883,6.0,9.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,0.0,0.0,1.361763e+09,Samsung,Samsung Galaxy A8 (2018),989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,751.0,695.0,1684053.0,42224.0,8535055.0,1694064.0,2690151.0,672973.0,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311450e+19,2019-04-10 00:31:00,486.0,2019-04-25 07:36:00,171.0,1321509.0,2.082010e+14,3.375034e+10,3.535660e+13,T21824A,109.795706,17.662883,44.0,44.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,3330.0,37882.0,1.321510e+09,undefined,undefined,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,17.0,207.0,644121.0,13372.0,9023734.0,2788027.0,1439754.0,631229.0,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311450e+19,2019-04-12 20:10:00,565.0,2019-04-25 10:40:00,954.0,1089009.0,2.082010e+14,3.369980e+10,3.540700e+13,D88865A,109.795706,17.662883,6.0,9.0,2.080991e+07,759658.664811,100.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,1.144710e+08,3.242301e+06,0.0,0.0,1.089009e+09,Samsung,Samsung Sm-G390F,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,607.0,604.0,862600.0,50188.0,6248284.0,1500559.0,1936496.0,173853.0,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [3]:
telcom.isnull().sum()

Bearer Id                                   0
Start                                       0
Start ms                                    0
End                                         0
End ms                                      0
Dur. (ms)                                   0
IMSI                                        0
MSISDN/Number                               0
IMEI                                        0
Last Location Name                          0
Avg RTT DL (ms)                             0
Avg RTT UL (ms)                             0
Avg Bearer TP DL (kbps)                     0
Avg Bearer TP UL (kbps)                     0
TCP DL Retrans. Vol (Bytes)                 0
TCP UL Retrans. Vol (Bytes)                 0
DL TP < 50 Kbps (%)                         0
50 Kbps < DL TP < 250 Kbps (%)              0
250 Kbps < DL TP < 1 Mbps (%)               0
DL TP > 1 Mbps (%)                          0
UL TP < 10 Kbps (%)                         0
10 Kbps < UL TP < 50 Kbps (%)               0
50 Kbps < UL TP < 300 Kbps (%)              0
UL TP > 300 Kbps (%)                        0
HTTP DL (Bytes)                             0
HTTP UL (Bytes)                             0
Activity Duration DL (ms)                   0
Activity Duration UL (ms)                   0
Dur. (ms).1                                 0
Handset Manufacturer                        0
Handset Type                                0
Nb of sec with 125000B < Vol DL             0
Nb of sec with 1250B < Vol UL < 6250B       0
Nb of sec with 31250B < Vol DL < 125000B    0
Nb of sec with 37500B < Vol UL              0
Nb of sec with 6250B < Vol DL < 31250B      0
Nb of sec with 6250B < Vol UL < 37500B      0
Nb of sec with Vol DL < 6250B               0
Nb of sec with Vol UL < 1250B               0
Social Media DL (Bytes)                     0
Social Media UL (Bytes)                     0
Google DL (Bytes)                           0
Google UL (Bytes)                           0
Email DL (Bytes)                            0
Email UL (Bytes)                            0
Youtube DL (Bytes)                          0
Youtube UL (Bytes)                          0
Netflix DL (Bytes)                          0
Netflix UL (Bytes)                          0
Gaming DL (Bytes)                           0
Gaming UL (Bytes)                           0
Other DL (Bytes)                            0
Other UL (Bytes)                            0
Total UL (Bytes)                            0
Total DL (Bytes)                            0
dtype: int64

In [4]:
telcom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 150000 non-null  float64
 1   Start                                     150000 non-null  object
 2   Start ms                                  150000 non-null  float64
 3   End                                       150000 non-null  object
 4   End ms                                    150000 non-null  float64
 5   Dur. (ms)                                 150000 non-null  float64
 6   IMSI                                      150000 non-null  float64
 7   MSISDN/Number                             150000 non-null  float64
 8   IMEI                                      150000 non-null  float64
 9   Last Location Name                        150000 non-null  object
 10  Avg RTT DL (ms)                           150000 non-null  float64
 11  Avg RTT UL (ms)                           150000 non-null  float64
 12  Avg Bearer TP DL (kbps)                   150000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   150000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               150000 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               150000 non-null  float64
 16  DL TP < 50 Kbps (%)                       150000 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            150000 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             150000 non-null  float64
 19  DL TP > 1 Mbps (%)                        150000 non-null  float64
 20  UL TP < 10 Kbps (%)                       150000 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             150000 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            150000 non-null  float64
 23  UL TP > 300 Kbps (%)                      150000 non-null  float64
 24  HTTP DL (Bytes)                           150000 non-null  float64
 25  HTTP UL (Bytes)                           150000 non-null  float64
 26  Activity Duration DL (ms)                 150000 non-null  float64
 27  Activity Duration UL (ms)                 150000 non-null  float64
 28  Dur. (ms).1                               150000 non-null  float64
 29  Handset Manufacturer                      150000 non-null  object
 30  Handset Type                              150000 non-null  object
 31  Nb of sec with 125000B < Vol DL           150000 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     150000 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  150000 non-null  float64
 34  Nb of sec with 37500B < Vol UL            150000 non-null  float64
 35  Nb of sec with 6250B < Vol DL < 31250B    150000 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    150000 non-null  float64
 37  Nb of sec with Vol DL < 6250B             150000 non-null  float64
 38  Nb of sec with Vol UL < 1250B             150000 non-null  float64
 39  Social Media DL (Bytes)                   150000 non-null  float64
 40  Social Media UL (Bytes)                   150000 non-null  float64
 41  Google DL (Bytes)                         150000 non-null  float64
 42  Google UL (Bytes)                         150000 non-null  float64
 43  Email DL (Bytes)                          150000 non-null  float64
 44  Email UL (Bytes)                          150000 non-null  float64
 45  Youtube DL (Bytes)                        150000 non-null  float64
 46  Youtube UL (Bytes)                        150000 non-null  float64
 47  Netflix DL (Bytes)                        150000 non-null  float64
 48  Netflix UL (Bytes)                        150000 non-null  float64
 49  Gaming DL (Bytes)                         150000 non-null  float64
 50  Gaming UL (Bytes)                         150000 non-null  float64
 51  Other DL (Bytes)                          150000 non-null  float64
 52  Other UL (Bytes)                          150000 non-null  float64
 53  Total UL (Bytes)                          150000 non-null  float64
 54  Total DL (Bytes)                          150000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 62.9+ MB

In [5]:
telcom.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),Avg Bearer TP UL (kbps),TCP DL Retrans. Vol (Bytes),TCP UL Retrans. Vol (Bytes),DL TP < 50 Kbps (%),50 Kbps < DL TP < 250 Kbps (%),250 Kbps < DL TP < 1 Mbps (%),DL TP > 1 Mbps (%),UL TP < 10 Kbps (%),10 Kbps < UL TP < 50 Kbps (%),50 Kbps < UL TP < 300 Kbps (%),UL TP > 300 Kbps (%),HTTP DL (Bytes),HTTP UL (Bytes),Activity Duration DL (ms),Activity Duration UL (ms),Dur. (ms).1,Nb of sec with 125000B < Vol DL,Nb of sec with 1250B < Vol UL < 6250B,Nb of sec with 31250B < Vol DL < 125000B,Nb of sec with 37500B < Vol UL,Nb of sec with 6250B < Vol DL < 31250B,Nb of sec with 6250B < Vol UL < 37500B,Nb of sec with Vol DL < 6250B,Nb of sec with Vol UL < 1250B,Social Media DL (Bytes),Social Media UL (Bytes),Google DL (Bytes),Google UL (Bytes),Email DL (Bytes),Email UL (Bytes),Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.500000e+05,150000.000000,150000.000000,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,150000.000000,150000.000000,150000.000000,150000.000000,1.500000e+05,1.500000e+05,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.500000e+05,150000.00000,1.500000e+05,1.500000e+05,1.500000e+05,150000.000000,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082017e+14,4.188282e+10,4.847454e+13,109.795706,17.662883,13300.045927,1770.428647,2.080991e+07,7.596587e+05,92.844754,3.069355,1.717341,1.609654,98.530142,0.776749,0.147987,0.078923,1.144710e+08,3.242301e+06,1.829177e+06,1.408880e+06,1.046091e+08,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,3719.787552,4022.083454,1.795322e+06,32928.43438,5.750753e+06,2.056542e+06,1.791729e+06,467373.441940,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.883606e+18,288.611834,288.097653,8.103762e+04,2.145208e+10,2.438739e+12,2.237367e+13,559.344484,76.530188,23971.878541,4625.355500,1.172360e+08,1.577621e+07,13.005265,6.199613,4.149084,4.816754,4.622050,3.216661,1.620234,1.291976,6.510248e+08,1.319536e+07,5.696395e+06,4.643231e+06,8.103761e+07,1506.003872,891.813890,1129.736308,442.322563,1248.153196,501.008494,9148.528504,10133.465378,1.035486e+06,19006.24161,3.309108e+06,1.189921e+06,1.035843e+06,269970.206933,6.710591e+06,6.345445e+06,6.725240e+06,6.359511e+06,2.439683e+08,4.782716e+06,2.432058e+08,4.769020e+06,1.127639e+07,2.441429e+08
min,6.917540e+18,0.000000,0.000000,7.142000e+03,2.040470e+14,3.360100e+10,4.400150e+11,0.000000,0.000000,0.000000,0.000000,2.000000e+00,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000e+01,4.000000e+01,0.000000e+00,0.000000e+00,7.142988e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.200000e+01,0.00000,2.070000e+02,3.000000e+00,1.400000e+01,2.000000,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349880e+18,250.000000,251.000000,5.744050e+04,2.082010e+14,3.365151e+10,3.546260e+13,35.000000,3.000000,43.000000,47.000000,1.332913e+06,6.300775e+04,91.000000,0.000000,0.000000,0.000000,99.000000,0.000000,0.000000,0.000000,3.028749e+06,3.360125e+05,1.487775e+04,2.153975e+04,5.744079e+07,533.000000,121.000000,453.000000,149.257052,527.000000,141.304812,88.000000,107.000000,8.991448e+05,16448.00000,2.882380e+06,1.024274e+06,8.927808e+05,233379.750000,5.833482e+06,5.517962e+06,5.777095e+06,5.475977e+06,2.104706e+08,4.128424e+06,2.101824e+08,4.145904e+06,3.322201e+07,2.431068e+08
50%,7.349880e+18,499.000000,500.000000,8.639900e+04,2.082020e+14,3.366380e+10,3.572240e+13,54.000000,7.000000,63.000000,63.000000,2.080991e+07,7.596587e+05,100.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,1.144710e+08,3.242301e+06,3.930450e+04,4.679350e+04,8.639998e+07,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,205.000000,220.000000,1.794351e+06,32920.00000,5.765857e+06,2.054569e+06,1.793534e+06,466246.000000,1.161601e+07,1.101348e+07,1.164222e+07,1.099631e+07,4.234082e+08,8.291215e+06,4.218057e+08,8.267086e+06,4.114331e+07,4.558411e+08
75%,1.304240e+19,749.000000,750.000000,1.324302e+05,2.082020e+14,3.368473e+10,8.611970e+13,109.795706,17.662883,19710.750000,1120.000000,2.080991e+07,7.596587e+05,100.000000,4.000000,1.000000,1.000000,100.000000,0.000000,0.000000,0.000000,1.144710e+08,3.242301e+06,6.796095e+05,5.990952e+05,1.324308e+08,989.699998,340.434395,810.837401,149.257052,965.464756,141.304812,2765.000000,2560.000000,2.694939e+06,49334.00000,8.623579e+06,3.088454e+06,2.689329e+06,700441.500000,1.744855e+07,1.651559e+07,1.747050e+07,1.650729e+07,6.331747e+08,1.243163e+07,6.316950e+08,1.238420e+07,4.903424e+07,6.657055e+08
max,1.318650e+19,999.000000,999.000000,1.859336e+06,2.140740e+14,8.823970e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,58613.000000,4.294426e+09,2.908226e+09,100.000000,93.000000,100.000000,94.000000,100.000000,98.000000,100.000000,96.000000,7.253064e+10,1.491890e+09,1.365365e+08,1.449113e+08,1.859336e+09,81476.000000,85412.000000,58525.000000,50553.000000,66913.000000,49565.000000,604061.000000,604122.000000,3.586064e+06,65870.00000,1.146283e+07,4.121357e+06,3.586146e+06,936418.000000,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [6]:
data = telcom.copy()
data['Total Traffic (Bytes)']= data['Total DL (Bytes)'] + data["Total UL (Bytes)"]
data["Total Youtube Volume(Bytes)"]= data["Youtube DL (Bytes)"] + data["Youtube UL (Bytes)"]
data["Total Google Volume(Bytes)"]= data["Google DL (Bytes)"] + data["Google UL (Bytes)"]
data["Total Email Volume(Bytes)"]= data["Email DL (Bytes)"] + data["Email UL (Bytes)"]
data["Total Social Media Volume(Bytes)"]= data["Social Media DL (Bytes)"] + data["Social Media UL (Bytes)"]
data["Total Netflix Volume(Bytes)"]= data["Netflix DL (Bytes)"] + data["Netflix UL (Bytes)"]
data["Total Gaming Volume(Bytes)"]= data["Gaming DL (Bytes)"] + data["Gaming UL (Bytes)"]
data["Total Other Volume(Bytes)"]= data["Other DL (Bytes)"] + data["Other UL (Bytes)"]

In [7]:
## Aggregate total data volume (in Bytes) during this session for each application
apps_data_volume = data.groupby(['Dur. (ms)','IMSI', 'MSISDN/Number']).agg({
    'Total Traffic (Bytes)': 'sum',
    'Total Youtube Volume(Bytes)': 'sum',
    'Total Google Volume(Bytes)': 'sum',
    'Total Email Volume(Bytes)': 'sum',
    'Total Social Media Volume(Bytes)': 'sum',
    'Total Netflix Volume(Bytes)': 'sum',
    'Total Gaming Volume(Bytes)': 'sum',
    'Total Other Volume(Bytes)': 'sum',
}).reset_index()

apps_data_volume.head()

,Dur. (ms),IMSI,MSISDN/Number,Total Traffic (Bytes),Total Youtube Volume(Bytes),Total Google Volume(Bytes),Total Email Volume(Bytes),Total Social Media Volume(Bytes),Total Netflix Volume(Bytes),Total Gaming Volume(Bytes),Total Other Volume(Bytes)
0,7142.0,2.082020e+14,3.376351e+10,558334893.0,15264002.0,8933196.0,2264693.0,1065060.0,7859901.0,517329331.0,33455346.0
1,7146.0,2.082010e+14,3.366566e+10,678517390.0,19778800.0,4680503.0,1075475.0,1163449.0,31358730.0,619324450.0,375530262.0
2,7189.0,2.082020e+14,3.365933e+10,279804529.0,22378059.0,5458634.0,1028980.0,3431790.0,32348712.0,203674294.0,783669544.0
3,7212.0,2.082017e+14,4.188282e+10,140464511.0,18559695.0,3322061.0,925210.0,2810974.0,22971917.0,91126558.0,137512067.0
4,7258.0,2.082010e+14,3.369839e+10,836659601.0,35149499.0,10015999.0,1629885.0,2492057.0,13639254.0,767565928.0,228133871.0

### Sessions frequency

In [8]:
# Calculate the sessions frequency for each user
sessions_frequency = telcom['MSISDN/Number'].value_counts()

sessions_frequency = pd.DataFrame({'Sessions Frequency': sessions_frequency}).reset_index()

# Display the head of the sessions frequency series
sessions_frequency.head()

   MSISDN/Number  Sessions Frequency
0   4.188282e+10                1065
1   3.362632e+10                  18
2   3.361489e+10                  17
3   3.362578e+10                  17
4   3.365973e+10                  16

***The table above shows the top five users with the highest session frequency in the dataset. The session frequency is the count of sessions per user, identified by their MSISDN/Number. The user with the highest number of sessions has 1065 sessions, followed by one user with 18 sessions, and so on.***

## The Duration of the session

In [9]:
# Calculate the duration of each session
session_durations = telcom.groupby('MSISDN/Number')['Dur. (ms)'].sum()

## Convert the result into a DataFrame
session_durations = pd.DataFrame({'Sessions Duration (ms)': session_durations}).reset_index()

# Display the head of the session durations series
session_durations.head(10)

   MSISDN/Number  Sessions Duration (ms)
0   3.360100e+10                116720.0
1   3.360100e+10                181230.0
2   3.360100e+10                134969.0
3   3.360101e+10                 49878.0
4   3.360101e+10                 37104.0
5   3.360101e+10                253983.0
6   3.360101e+10                128360.0
7   3.360101e+10                 86399.0
8   3.360101e+10                495702.0
9   3.360102e+10                124854.0

***The table above shows the total duration of sessions for the top five users in the dataset, measured in milliseconds. Each row represents a unique user identified by their MSISDN/Number and the corresponding sum of durations for all sessions they had.***

## The session total traffic (download and upload (bytes))

In [10]:
# Calculate the total traffic (download and upload in bytes) for each session
session_total_traffic = telcom.groupby('MSISDN/Number')[['Total DL (Bytes)', 'Total UL (Bytes)']].sum()

# Add a new column for the total traffic per session
session_total_traffic['Total Traffic (Bytes)'] = session_total_traffic['Total DL (Bytes)'] + session_total_traffic['Total UL (Bytes)']

# Display the head of the session total traffic dataframe
session_total_traffic

               Total DL (Bytes)  Total UL (Bytes)  Total Traffic (Bytes)
MSISDN/Number
3.360100e+10       8.426375e+08      3.605311e+07           8.786906e+08
3.360100e+10       1.207552e+08      3.610446e+07           1.568596e+08
3.360100e+10       5.566597e+08      3.930682e+07           5.959665e+08
3.360101e+10       4.019932e+08      2.032753e+07           4.223207e+08
3.360101e+10       1.363130e+09      9.428053e+07           1.457411e+09
...                         ...               ...                    ...
3.379000e+10       4.445751e+08      3.573224e+07           4.803073e+08
4.188282e+10       4.869236e+11      4.432530e+10           5.312489e+11
3.197020e+12       1.948281e+08      3.729592e+07           2.321240e+08
3.370000e+14       5.396350e+08      5.665284e+07           5.962878e+08
8.823970e+14       7.869760e+07      6.045605e+07           1.391536e+08

[106857 rows x 3 columns]

***The table displays the total download and upload traffic for the top five users, along with their combined total traffic.***

# Task 2.1 - Based on the above submit the Python script and slide:

## Aggregate the above metrics per customer id (MSISDN) and report the top 10 customers per engagement metric

In [11]:
engagment_metrics = data.groupby('MSISDN/Number').agg({'Bearer Id': 'count','Dur. (ms)': 'sum', 'Total Traffic (Bytes)': 'sum',})
engagment_metrics = engagment_metrics.rename(columns={'Bearer Id': 'Sessions Frequency', 'Dur. (ms)': 'Sessions Duration (ms)'})
engagment_metrics.sort_values(by=['Sessions Frequency'], ascending=False).head(10)

,Sessions Frequency,Sessions Duration (ms),Total Traffic (Bytes)
MSISDN/Number,,,
4.188282e+10,1065,72446396.0,5.312489e+11
3.362632e+10,18,8791927.0,7.971167e+09
3.362578e+10,17,18553754.0,8.499621e+09
3.361489e+10,17,9966898.0,8.846226e+09
3.365973e+10,16,4035428.0,7.705863e+09
3.367588e+10,15,4865947.0,7.891111e+09
3.376054e+10,15,9279434.0,8.514774e+09
3.366716e+10,13,8744914.0,5.618394e+09
3.360452e+10,12,5207990.0,5.487855e+09
3.362708e+10,12,4703516.0,5.754731e+09

### The top 10 customers have been identified for each engagement metric:

- Session frequency: The number of sessions each customer had.
- Session duration: The total duration of all sessions per customer.
- Total traffic: The total data (download and upload) consumed per customer.

In [12]:
engagment_metrics.describe()

       Sessions Frequency  Sessions Duration (ms)  Total Traffic (Bytes)
count       106857.000000            1.068570e+05           1.068570e+05
mean             1.403745            1.468438e+05           6.959272e+08
std              3.352062            2.892198e+05           1.695706e+09
min              1.000000            7.142000e+03           3.324901e+07
25%              1.000000            7.130900e+04           3.585530e+08
50%              1.000000            1.027410e+05           6.179232e+08
75%              2.000000            1.727990e+05           8.574358e+08
max           1065.000000            7.244640e+07           5.312489e+11

## Normalize each engagement metric and run a k-means (k=3) to classify customers into three groups of engagement.

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# k means clustering
kmeans = KMeans(n_clusters=3, random_state=42)
engagment_metrics['cluster'] = kmeans.fit_predict(engagment_metrics[['Sessions Frequency', 'Sessions Duration (ms)','Total Traffic (Bytes)']])
engagment_metrics.head()

,Sessions Frequency,Sessions Duration (ms),Total Traffic (Bytes),cluster
MSISDN/Number,,,,
3.360100e+10,1,116720.0,8.786906e+08,2
3.360100e+10,1,181230.0,1.568596e+08,2
3.360100e+10,1,134969.0,5.959665e+08,2
3.360101e+10,1,49878.0,4.223207e+08,2
3.360101e+10,2,37104.0,1.457411e+09,0

In [21]:
#grouping
engagment_metrics.groupby(['cluster']).describe().transpose()

cluster                                  0             1             2
Sessions Frequency     count  1.603000e+04  1.000000e+00  9.082600e+04
                       mean   2.754460e+00  1.065000e+03  1.153645e+00
                       std    1.140445e+00           NaN  3.877689e-01
                       min    2.000000e+00  1.065000e+03  1.000000e+00
                       25%    2.000000e+00  1.065000e+03  1.000000e+00
                       50%    2.000000e+00  1.065000e+03  1.000000e+00
                       75%    3.000000e+00  1.065000e+03  1.000000e+00
                       max    1.800000e+01  1.065000e+03  4.000000e+00
Sessions Duration (ms) count  1.603000e+04  1.000000e+00  9.082600e+04
                       mean   3.110938e+05  7.244640e+07  1.170590e+05
                       std    3.899402e+05           NaN  9.152224e+04
                       min    1.823500e+04  7.244640e+07  7.142000e+03
                       25%    1.624950e+05  7.244640e+07  6.069275e+04
                       50%    2.472350e+05  7.244640e+07  9.187800e+04
                       75%    3.540700e+05  7.244640e+07  1.550618e+05
                       max    1.855375e+07  7.244640e+07  3.174824e+06
Total Traffic (Bytes)  count  1.603000e+04  1.000000e+00  9.082600e+04
                       mean   1.580980e+09  5.312489e+11  5.338817e+08
                       std    5.510252e+08           NaN  2.561819e+08
                       min    1.055942e+09  5.312489e+11  3.324901e+07
                       25%    1.217108e+09  5.312489e+11  3.165844e+08
                       50%    1.421893e+09  5.312489e+11  5.424587e+08
                       75%    1.730165e+09  5.312489e+11  7.515387e+08
                       max    8.846226e+09  5.312489e+11  1.055771e+09

### Compute the minimum, maximum, average & total non-normalized metrics for each cluster. Interpret your results visually with accompanying text explaining your findings.

In [22]:
import numpy as np

# Compute the minimum, maximum, average & total non-normalized metrics for each cluster
cluster_metrics = engagment_metrics.groupby('cluster').agg({
    'Sessions Frequency': ['min', 'max', 'mean', 'sum'],
    'Sessions Duration (ms)': ['min', 'max', 'mean', 'sum'],
    'Total Traffic (Bytes)': ['min', 'max', 'mean', 'sum']
}).fillna(0)

# Rename multi-level columns for clarity
cluster_metrics.columns = ['_'.join(col).strip() for col in cluster_metrics.columns.values]

# Reset index to make 'Cluster' a column
cluster_metrics.reset_index(inplace=True)

# Display the metrics for each cluster
cluster_metrics.head()

,cluster,Sessions Frequency_min,Sessions Frequency_max,Sessions Frequency_mean,Sessions Frequency_sum,Sessions Duration (ms)_min,Sessions Duration (ms)_max,Sessions Duration (ms)_mean,Sessions Duration (ms)_sum,Total Traffic (Bytes)_min,Total Traffic (Bytes)_max,Total Traffic (Bytes)_mean,Total Traffic (Bytes)_sum
0,0,2,18,2.754460,44154,18235.0,18553754.0,3.110938e+05,4.986834e+09,1.055942e+09,8.846226e+09,1.580980e+09,2.534311e+13
1,1,1065,1065,1065.000000,1065,72446396.0,72446396.0,7.244640e+07,7.244640e+07,5.312489e+11,5.312489e+11,5.312489e+11,5.312489e+11
2,2,1,4,1.153645,104781,7142.0,3174824.0,1.170590e+05,1.063200e+10,3.324901e+07,1.055771e+09,5.338817e+08,4.849034e+13

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
import pandas as pd

fit_transform(X)
# Assuming your DataFrame is named 'agg_metrics'

# Extract relevant columns for clustering
X = agg_metrics[['Sessions Frequency', 'Total Duration (s)', 'Total Traffic (Bytes)']]

# Standardize (normalize) the data
scaler = StandardScaler()
X_scaled = scaler
# Run k-means clustering (k=3)
kmeans = KMeans(n_clusters=3, random_state=42)
agg_metrics['Engagement Group'] = kmeans.fit_predict(X_scaled)

# # Display the engagement group for each customer
# # print(agg_metrics[['MSISDN/Number', 'Engagement Group']])
print(agg_metrics[['MSISDN/Number', 'Engagement Group']].head())


# # Optional: Display cluster centers and other k-means information
print("\nCluster Centers:")
print(pd.DataFrame(scaler.inverse_transform(kmeans.cluster_centers_), columns=X.columns))

# # Optional: Visualize the clusters (if you have a 3D plot library available)
# # import matplotlib.pyplot as plt
# # from mpl_toolkits.mplot3d import Axes3D
# # fig = plt.figure(figsize=(10, 7))
# # ax = fig.add_subplot(111, projection='3d')
# # ax.scatter(X_scaled[:, 0], X_scaled[:, 1], X_scaled[:, 2], c=agg_metrics['Engagement Group'], cmap='viridis')
# # plt.show()

In [ ]:
AttributeError: 'NoneType' object has no attribute 'split'

In [ ]:
import pandas as pd

# Assuming your DataFrame is named 'telecom_data'

# Calculate sessions frequency per MSISDN
sessions_frequency = telecom_data.groupby('MSISDN/Number')['Bearer Id'].count().reset_index()
sessions_frequency.rename(columns={'Bearer Id': 'Sessions Frequency'}, inplace=True)

# Calculate session duration in seconds per MSISDN
session_duration = telecom_data.groupby('MSISDN/Number')['Dur. (ms)'].sum() / 1000
session_duration = session_duration.reset_index()
session_duration.rename(columns={'Dur. (ms)': 'Total Duration (s)'}, inplace=True)

# Calculate session total traffic (download and upload) per MSISDN
session_total_traffic = telecom_data.groupby('MSISDN/Number')['Total UL (Bytes)', 'Total DL (Bytes)'].sum()
session_total_traffic['Total Traffic (Bytes)'] = session_total_traffic['Total UL (Bytes)'] + session_total_traffic['Total DL (Bytes)']
session_total_traffic.reset_index(inplace=True)

# Merge the aggregated metrics into a single DataFrame
agg_metrics = pd.merge(sessions_frequency, session_duration, on='MSISDN/Number', how='outer')
agg_metrics = pd.merge(agg_metrics, session_total_traffic[['MSISDN/Number', 'Total Traffic (Bytes)']], on='MSISDN/Number', how='outer')

# Display the aggregated metrics per MSISDN
print(agg_metrics.head())

# Report the top 10 customers for each metric
top_10_sessions_frequency = agg_metrics.sort_values(by='Sessions Frequency', ascending=False).head(10)
top_10_duration = agg_metrics.sort_values(by='Total Duration (s)', ascending=False).head(10)
top_10_total_traffic = agg_metrics.sort_values(by='Total Traffic (Bytes)', ascending=False).head(10)

# Display the top 10 customers for each metric
print("Top 10 Customers by Sessions Frequency:")
print(top_10_sessions_frequency[['MSISDN/Number', 'Sessions Frequency']])

print("\nTop 10 Customers by Total Duration:")
print(top_10_duration[['MSISDN/Number', 'Total Duration (s)']])

print("\nTop 10 Customers by Total Traffic:")
print(top_10_total_traffic[['MSISDN/Number', 'Total Traffic (Bytes)']])